<div class="flex flex-col">
  <img
    src="{{img}}"
    alt=""
    class="order-last md:order-first"
    width="500"
    height="500"
  />
  <h3 class="font-bold">
    {{title}}
  </h3>
  <p>
    {{@partial-block}}
  </p>
</div>