<section class="{{class}}"{{#if name}} id="{{name}}"{{/if}}>
  <div class="max-w-6xl mx-auto px-6 py-12 flex flex-col gap-2">
    <h2 class="text-3xl leading-none mb-3">{{title}}</h2>
    {{> @partial-block }}
  </div>
</section>