@import "tailwindcss";

html {
  scroll-padding-top: 4.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

main a[href]:not(.card):not(.button) {
   @apply underline text-teal-800 hover:text-teal-950 transition-colors;
}

footer a[href] {
   @apply underline
}

#site-nav a.nav-active {
   @apply text-teal-400;
}

body[data-nav-open="true"] {
   overflow: hidden;
}

body[data-nav-open="true"] main,
body[data-nav-open="true"] footer {
   visibility: hidden;
}

@media (min-width: 768px) {
   body[data-nav-open="true"] {
      overflow: auto;
   }

   body[data-nav-open="true"] main,
   body[data-nav-open="true"] footer {
      visibility: visible;
   }
}

@media (prefers-reduced-motion: reduce) {
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}
